
@{
    ViewData["Title"] = "Speak";
}

<h1>Speak</h1>
<textarea id="TextArea1" rows="2" cols="20"></textarea>

<div class="col-md-12">
    <input type="submit"  name="button" value="odense" asp-action="Speak"/>
</div>
